*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log
*.hprof
*.trace
*~
*.swp
*.tmp
*.bak
*.orig
.DS_Store
Thumbs.db